* {
  text-decoration: none;
}

body {
    background-color: #BDBCB9;
}

#container{
  width: 80%;
  margin: 0 auto;
  background-color: #black;
  text-align: center;
}

.navbar{
  text-align: center;
  background-color: black;
}

.navbar-default .navbar-nav>li>a{
  color: gold;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: gold;
  font-weight: 900;
  font-size: 30px;
}

a:hover{
  color: gold;
  font-weight: 900;
  font-size: 30px;
}

section, aside {
  background-color: black;
  color: white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  }

section {
  width: 80%; }

aside {
  width: 30%; }

img {
  width: 65%;
}

button {
  background-color: gold;
  color: black;
}

input{
  color: black;
}

textarea {
  color: black;
}
a{
  color: gold;
}

.edit-movie {
  display: none; }

.active {
  display: block; }
